<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <meta charset="UTF-8">
    <title>CONSULTAS</title>
    <style type="text/css">
html{
background-image: URL("backConsulta.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

body{
margin:0;
padding:0;
text-align:center;
background-color: transparent;
}
.navar{
color: #fff!important;
background-color: #ff9800!important;
}


#cont{
position:relative;
left: 250px;
width:53%;
min-width:640px;
padding:10px 20px;
margin:120px auto;
text-align:left;
border-left:1px solid #eef;
border-right:1px solid #eef;
border-radius: 40px;
background-color: #b3a7b2;
color: white;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.botoncito{
    display: inline-block;
	background: #2F57CB;
	border-radius: 10px;
	padding: 10px 30px;
	text-decoration: none;
	font-family: 'Englebert', sans-serif;
	font-size: 1.50em;
	color: #FFFFFF;
}

.table{

}

    </style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar navar w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
           href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
        <a href="/consulta" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a href="/consulta/crearConsulta" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONSULTA</a>
        <a href="/nuevoPerfil" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PERFIL</a>
        <a href="/nuevoTratamiento" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TRATAMIENTO</a>

        <a href="/filter" class="w3-bar-item w3-button w3-padding-large w3-hide-small">FILTRAR POR GRAVEDAD</a>
        <a href="/searchByDates" class="w3-bar-item w3-button w3-padding-large w3-hide-small">FILTRAR POR FECHAS</a>
        <a href="/nuevoRecordatorio" class="w3-bar-item w3-button w3-padding-large w3-hide-small">RECORDATORIO</a>
        <a href="/logout" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">LOGOUT</a>
    </div>
</div>

<div id="cont">


    <div style="clear: both;"></div>
    <div>
        <table class="table">
            <tr>
                <p>CONSULTAS MEDICAS</p>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Gravedad</th>


            </tr>
            <tr th:each="consulta: ${consulta}">
                <div th:if="${consulta.user.id == user.id}">
                    <td th:text="${consulta.date}">
                    </td>

                    <td th:text="${consulta.description}">
                    </td>

                    <td th:text="${consulta.gravedad.type}">
                    </td>

                    <td>
                        <a th:href="@{/consulta/edit/}  +${consulta.id}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a th:href="${'/consulta/delete/' +consulta.id}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>

                    </td>
                </div>
            </tr>
        </table>
    </div>


    <div>
        <table class="table">
            <tr>
                <p>TRATAMIENTOS</p>
                <th>Doctor</th>
                <th>Detalle</th>
                <th>Receta</th>


            </tr>
            <tr th:each="tratamiento: ${tratamiento}">
                <div th:if="${tratamiento.user.id == user.id}">
                    <td th:text="${tratamiento.doctor}">
                    </td>

                    <td th:text="${tratamiento.detalle}">
                    </td>

                    <td th:text="${tratamiento.receta}">
                    </td>

                    <td>
                        <a th:href="@{/modificarTratammiento/}  +${tratamiento.id}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a th:href="${'/eliminarTratamiento/' +tratamiento.id}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>

                    </td>
                </div>
            </tr>
        </table>
    </div>


    <div>
        <table class="table">
            <tr>
                <p>RECORDATORIOS</p>
                <th>Medicamento</th>
                <th>Hora de inicio</th>
                <th>Repetir (horas)</th>


            </tr>
            <tr th:each="recordatorio: ${recordatorio}">
                <div th:if="${recordatorio.user.id == user.id}">
                    <td th:text="${recordatorio.medicamento}">
                    </td>

                    <td th:text="${recordatorio.hora}">
                    </td>

                    <td th:text="${recordatorio.repetir}">
                    </td>

                    <td>
                        <a th:href="${'/eliminarRecordatorio/' +recordatorio.id}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>

                    </td>
                </div>
            </tr>
        </table>
    </div>


</div>


<tr th:each="perfil: ${perfil}">
    <div th:if="${user.id == perfil.user_id}">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem; position:relative; bottom:490px; left:100px;">
            <a th:href="@{/modificarPerfil/}  +${perfil.id}"> MODIFICAR</a>
            <a th:href="${'/eliminarPerfil/'  +perfil.id}"> ELIMINAR</a>
            <br>
            <div class="card-header"> Perfil de Usuario:</div>

            <div class="card-body">
                Nombre: <h5 class="card-title" th:text="${perfil.name}"></h5>
                Edad: <p class="card-text" th:text="${perfil.age}"></p>
                Altura: <p class="card-text" th:text="${perfil.heigh}"></p>
                Peso: <p class="card-text" th:text="${perfil.weight}"></p>

            </div>
        </div>
    </div>
</tr>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.facebook.com/L.bugu" target="_blank">Luis toro y asociados</a>
    </p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>