<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../static/css/registerForm.css" th:href="@{/css/registerForm.css}"  />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Nuevo Perfil</title>
    <script th:inline="javascript">
    $( document ).ready(function() {
        setInterval(function(){
                var d = new Date();
                var hour = d.getHours();
                var min = d.getMinutes();
                var dd = d.getDate();
                var mm = d.getMonth()+1;
                var yyyy = d.getFullYear();

                if(10 > dd){ dd = '0' +  dd; }
                if(10 > mm){ mm = '0' + mm; }
                if(10 > hour){ hour = '0' + hour; }
                if(10 > min){ min = '0' + min; }

                var time = hour + ':' + min;
                d =  yyyy + '-' + mm + '-' + dd;

                /*<![CDATA[*/
                    console.log('Hora y fecha actual: ' + time + ' ' + d);
                    var list = /*[[${listaRecordatoriosCitas}]]*/ 'listaRecordatoriosCitas';
                    var listMotivo = /*[[${listaRecordatoriosCitasMotivo}]]*/ 'listaRecordatoriosCitasMotivo';
                    for(var i=0; i<list.length; i++){
                        console.log(list[i]);
                        console.log(listMotivo[i]);
                        if((time + ' ' + d) == list[i]){
                            window.alert(listMotivo[i]);
                        }
                    }
               /*]]>*/
        }, 60000);
    });
    </script>
    <style type="text/css">
        .perfilito{
        background-image: URL('/perfil.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        }

        .navar{
color: #fff!important;
background-color: #ff9800!important;
    position: relative;
}

.formDiagnostico{
    background: #0000001c;
    font-size: larger;
    width: 650px;
    position: relative;
    left: 345px;
}
    </style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar navar w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/consulta" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a href="/logout" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">LOGOUT</a>
    </div>
</div>


<div class="perfilito">
    <br>
    <br>
    <br>
    <form autocomplete="off" method="post" th:action="@{/guardarPerfil}" class="formDiagnostico">
        <input type="hidden" name="id" th:value="${perfil.id}">
        <p> Nombre completo: </p>
        <input class="form-control my-0 py-1" th:field="*{perfil.name}" pattern="^[\S+].{0,29}"
               oninvalid="setCustomValidity('Nombre completo es campo requerido,no puede comenzar por espacio, solo 30 caracteres.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <p> Edad: </p>
        <input class="form-control my-0 py-1" th:field="*{perfil.age}" pattern="[0-9].{0,2}"
               oninvalid="setCustomValidity('Edad es campo requerido, solo numeros y 3 digitos como maximo.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <p> Peso(kg): </p>
        <input class="form-control my-0 py-1" th:field="*{perfil.weight}" pattern="[0-9].{0,2}"
               oninvalid="setCustomValidity('Peso es campo requerido, solo numeros y 3 digitos como maximo.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <p> Altura(cm): </p>
        <input class="form-control my-0 py-1" th:field="*{perfil.heigh}" pattern="[0-9].{0,2}"
               oninvalid="setCustomValidity('Altura es campo requerido,solo numeros y 3 digitos como maximo.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <p> Fecha de nacimiento: </p>
        <input class="form-control my-0 py-1" name="fechaNacimiento" id="fechaNacimiento" type="date"
               oninvalid="setCustomValidity('Fecha es campo requerido.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <p> Sexo: </p>
        <select class="form-control" th:field="*{perfil.gender}">
            <option selected="selected" value="M">Masculino</option>
            <option value="F">Femenino</option>
        </select>
        <br/>
        <input class="btn btn-primary" type="submit" value="Guardar" />
    </form>
    <br />
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.facebook.com/L.bugu" target="_blank">Luis toro y asociados</a></p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>